body {
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  background-color: hsl(225, 100%, 98%);
}

.App {
  text-align: center;
}

@media screen and (max-width: 375px) {
  body {
    background-image: url("./images/pattern-background-mobile.svg");
  }
}
